<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ducmn.string-theory</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ducmn/projects/string-theory/run.sh</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>TARGET_CALENDAR_ID</key>
        <string>e80874bf53181fb29284b889d65361c598a084b0d8b1e5f9cf3a699ad1be300f@group.calendar.google.com</string>
        <key>GOOGLE_SERVICE_ACCOUNT_JSON</key>
        <string>/Users/ducmn/projects/string-theory/service-account.json</string>
        <key>PATH</key>
        <string>/Users/ducmn/Library/Python/3.9/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>

    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>3</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/tmp/string-theory.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/string-theory.log</string>
</dict>
</plist>
